# Opdrcaht 7 - Penguins

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
filename = '../datasets/penguins.csv'
df = pd.read_csv(filename)

In [46]:
df = sns.load_dataset('penguins')

In [47]:
df.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    object
 1   island             344 non-null    object
 2   bill_length_mm     342 non-null    float64
 3   bill_depth_mm      342 non-null    float64
 4   flipper_length_mm  342 non-null    float64
 5   body_mass_g        342 non-null    float64
 6   sex                333 non-null    object
dtypes: float64(4), object(3)
memory usage: 18.9+ KB

### Exploratory Data Analysis EDA

In [49]:
df['species'].value_counts()

Adelie       152
Gentoo       124
Chinstrap     68
Name: species, dtype: int64

In [50]:
df['island'].value_counts()

Biscoe       168
Dream        124
Torgersen     52
Name: island, dtype: int64

### Remove rows with missing data

In [59]:
df_unknown_sex = df[df['sex'].isna()].dropna(subset='bill_length_mm').copy()
df_unknown_sex

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
8,Adelie,Torgersen,34.1,18.1,193.0,3475.0,NaN
9,Adelie,Torgersen,42.0,20.2,190.0,4250.0,NaN
10,Adelie,Torgersen,37.8,17.1,186.0,3300.0,NaN
11,Adelie,Torgersen,37.8,17.3,180.0,3700.0,NaN
47,Adelie,Dream,37.5,18.9,179.0,2975.0,NaN
246,Gentoo,Biscoe,44.5,14.3,216.0,4100.0,NaN
286,Gentoo,Biscoe,46.2,14.4,214.0,4650.0,NaN
324,Gentoo,Biscoe,47.3,13.8,216.0,4725.0,NaN
336,Gentoo,Biscoe,44.5,15.7,217.0,4875.0,NaN

In [60]:
df.dropna(inplace=True)

In [61]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 333 entries, 0 to 343
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            333 non-null    object
 1   island             333 non-null    object
 2   bill_length_mm     333 non-null    float64
 3   bill_depth_mm      333 non-null    float64
 4   flipper_length_mm  333 non-null    float64
 5   body_mass_g        333 non-null    float64
 6   sex                333 non-null    object
dtypes: float64(4), object(3)
memory usage: 20.8+ KB

### Define target

In [62]:
target = 'sex'
features = [col for col in df.columns if col not in [target]]

print(target)
print(features)

sex
['species', 'island', 'bill_length_mm', 'bill_depth_mm', 'flipper_length_mm', 'body_mass_g']

In [63]:
df_target = df[[target]]
df_features = df[features]

print(df_target.shape)
print(df_features.shape)

(333, 1)
(333, 6)

### One-hot encoding

In [64]:
df_encoded = pd.get_dummies(df_features, drop_first=True, dtype='int')
df_encoded

,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,species_Chinstrap,species_Gentoo,island_Dream,island_Torgersen
0,39.1,18.7,181.0,3750.0,0,0,0,1
1,39.5,17.4,186.0,3800.0,0,0,0,1
2,40.3,18.0,195.0,3250.0,0,0,0,1
4,36.7,19.3,193.0,3450.0,0,0,0,1
5,39.3,20.6,190.0,3650.0,0,0,0,1
...,...,...,...,...,...,...,...,...
338,47.2,13.7,214.0,4925.0,0,1,0,0
340,46.8,14.3,215.0,4850.0,0,1,0,0
341,50.4,15.7,222.0,5750.0,0,1,0,0
342,45.2,14.8,212.0,5200.0,0,1,0,0
343,49.9,16.1,213.0,5400.0,0,1,0,0

In [68]:
df_unknown_sex_encoded = pd.get_dummies(df_unknown_sex, drop_first=True, dtype='int')
df_unknown_sex_encoded

,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,species_Gentoo,island_Dream,island_Torgersen
8,34.1,18.1,193.0,3475.0,0,0,1
9,42.0,20.2,190.0,4250.0,0,0,1
10,37.8,17.1,186.0,3300.0,0,0,1
11,37.8,17.3,180.0,3700.0,0,0,1
47,37.5,18.9,179.0,2975.0,0,1,0
246,44.5,14.3,216.0,4100.0,1,0,0
286,46.2,14.4,214.0,4650.0,1,0,0
324,47.3,13.8,216.0,4725.0,1,0,0
336,44.5,15.7,217.0,4875.0,1,0,0

### Scaling

In [69]:
from sklearn.preprocessing import MinMaxScaler, StandardScaler

In [70]:
scaler = MinMaxScaler()
# scaler = StandardScaler()

scaler.fit(df_encoded)

MinMaxScaler()

In [71]:
df_scaled = pd.DataFrame(scaler.transform(df_encoded), columns=df_encoded.columns)
df_scaled

,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,species_Chinstrap,species_Gentoo,island_Dream,island_Torgersen
0,0.254545,0.666667,0.152542,0.291667,0.0,0.0,0.0,1.0
1,0.269091,0.511905,0.237288,0.305556,0.0,0.0,0.0,1.0
2,0.298182,0.583333,0.389831,0.152778,0.0,0.0,0.0,1.0
3,0.167273,0.738095,0.355932,0.208333,0.0,0.0,0.0,1.0
4,0.261818,0.892857,0.305085,0.263889,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...
328,0.549091,0.071429,0.711864,0.618056,0.0,1.0,0.0,0.0
329,0.534545,0.142857,0.728814,0.597222,0.0,1.0,0.0,0.0
330,0.665455,0.309524,0.847458,0.847222,0.0,1.0,0.0,0.0
331,0.476364,0.202381,0.677966,0.694444,0.0,1.0,0.0,0.0
332,0.647273,0.357143,0.694915,0.750000,0.0,1.0,0.0,0.0

In [72]:
df_unknown_sex_scaled = pd.DataFrame(scaler.transform(df_unknown_sex_encoded), columns=df_unknown_sex_encoded.columns)
df_unknown_sex_scaled

ValueError: The feature names should match those that were passed during fit.
Feature names seen at fit time, yet now missing:
- species_Chinstrap

### Split Train en Test dataset

In [32]:
from sklearn.model_selection import train_test_split

In [33]:
df_train_features, df_test_features, df_train_target, df_test_target = train_test_split(df_scaled, df_target, test_size=0.3)

In [34]:
print('train dataset features', df_train_features.shape)
print('train dataset target', df_train_target.shape)
print('test dataset features', df_test_features.shape)
print('test dataset target', df_test_target.shape)

train dataset features (233, 8)
train dataset target (233, 1)
test dataset features (100, 8)
test dataset target (100, 1)

### Nearest Neighbot Classification

In [37]:
 from sklearn.neighbors import KNeighborsClassifier

In [45]:
classifier = KNeighborsClassifier()

classifier.fit(df_train_features, df_train_target['sex'])

predicted = classifier.predict(df_test_features)

df_test_target['NN predict'] = predicted

accuracy = sum(df_test_target['sex'] == predicted) / len(df_test_target)

print(f'Accuracy = {accuracy:.2f}')

Accuracy = 0.88

### Decision Tree

In [73]:
from sklearn.tree import DecisionTreeClassifier

In [74]:
classifier = DecisionTreeClassifier()

classifier.fit(df_train_features, df_train_target['sex'])

predicted = classifier.predict(df_test_features)

df_test_target['DT predict'] = predicted

accuracy = sum(df_test_target['sex'] == predicted) / len(df_test_target)

print(f'Accuracy = {accuracy:.2f}')

Accuracy = 0.92

### Random Forest

In [76]:
from sklearn.ensemble import RandomForestClassifier

In [77]:
classifier = RandomForestClassifier()

classifier.fit(df_train_features, df_train_target['sex'])

predicted = classifier.predict(df_test_features)

df_test_target['RF predict'] = predicted

accuracy = sum(df_test_target['sex'] == predicted) / len(df_test_target)

print(f'Accuracy = {accuracy:.2f}')

Accuracy = 0.90

### Logistic Regression

In [78]:
from sklearn.linear_model import LogisticRegression

In [79]:
classifier = LogisticRegression()

classifier.fit(df_train_features, df_train_target['sex'])

predicted = classifier.predict(df_test_features)

df_test_target['LR predict'] = predicted

accuracy = sum(df_test_target['sex'] == predicted) / len(df_test_target)

print(f'Accuracy = {accuracy:.2f}')

Accuracy = 0.91

In [80]:
from sklearn.metrics import accuracy_score, precision_recall_fscore_support

In [88]:
accuracy = accuracy_score(df_test_target['sex'], predicted)
precision, recall, f1_score, _ = precision_recall_fscore_support(df_test_target['sex'], predicted)

print(f'Accuracy = {accuracy:.2f}')
print(precision)
print(recall)
print(f1_score)

Accuracy = 0.91
[0.95744681 0.86792453]
[0.86538462 0.95833333]
[0.90909091 0.91089109]

In [87]:
precision

array([0.95744681, 0.86792453])